// стили сетки календаря и заголовка календаря с днями недели
.calendar {
    height: 100vh;
    
    &__header {
        margin-left: 10vw;
        height: 15vh;
        display: flex;
    }

    &__day-label {
        flex: 1 1 0;
        width: 100vw;
    }

    &__body {
        height: 100vh;
    }

    &__week-container{
        display: flex;
        height: 100vh;
    }

    &__time-scale {
        display: flex;
        flex-direction: column;
        width: 10vw;
    }

    &__week{
        display: flex;
        width: 100vw;
    }

    &__day {
        flex: 1 1 0;
        height: 100vh;
        border: 2px solid #808080;
        border-right: none;
    }
}

.day-label__day-name {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.day-label__day-number {
    text-align: center;
    font-size: 36px;
}

.time-slot {
    flex-grow: 1;
    height: auto;

    &__time {
        text-align: right;
    }
}

