// стили формы события внутри модального окна
.create-event {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.create-event__close-btn {
    margin-bottom: 10px;
    width: 30px;
    margin-right: 0;
    cursor: pointer;
}

.event-form {
    display: flex;
    flex-direction: column;
}

.event-form__time {
    display: flex;
    flex-direction: column;
}

.event-form__field {
    margin-bottom: 10px;
    border: 2px solid rgb(105, 105, 240);
}

.event-time {
    margin: auto;
    margin-bottom: 10px;
}
.event-form__submit-btn{
    cursor: pointer;
}