// стили отображаемого в календаре события
.event {
    position: absolute;
    background-color: #6495ed;
    z-index: 0;
    color: #ffffff;
    width: 80%;
    border-radius: 4px;
    padding: 5px;

    &__title {
        margin-bottom: 5px;
    }

    &__time {
        margin-bottom: 5px;
    }
}

.event__container {
    position: relative;
}