// стили навигации
.header {
    display: flex;
    padding: 15px 0 20px 10vw;
    height: 100px;
}

.navigation__today-btn {
    width: 100px;
    margin-right: 50px;
    font-size: large;
    font-weight: 700;
}

.icon-button {
    margin-right: 25px;
}