// стили боковой временной шкалы
.calendar {
    &__time-scale {
        display: flex;
        flex-direction: column;
        width: 10vw;
        position: absolute;
    }

}

.time-slot {
    flex-grow: 1;
    height: 60px;
    display: flex;

    &__time {
        margin: auto;
        margin-bottom: 0;
        margin-right: 0;
        text-align: right;
    }
}